.html{

}

.body{
    background-color: #b6dec1;
}

.header{
    font-family: sans-serif;
}

#navabar{
    font-family: sans-serif;
}

.table{
    font-family: sans-serif;
}

.h2{
    font-family: sans-serif;
}

.h3{
    font-family: sans-serif;
}

.navabar > a:visited{
    text-decoration: none;
}

