.html{
    background-color: #33d160;
}

.login{
    background-color: #33d160;
}

.form{
    font-family: sans-serif;
}

#loghead{
    font-family: sans-serif;
}

#logbut{
    background-color: #368a4e;
}

#regbut{
    background-color: #368a4e;
}

#logmsg{
    font-family: sans-serif;
}