.new{
    font-family: monospace;
    text-align: center;
}

body{
    background-color: #b6dec1;
    font-family: sans-serif;
}

h2 {
    color: #334195;
}

.button{
    background-color: #B8B3E9;
    border: 0px solid;
}

.button:hover
{
  background-color: #55505C;
  color:bisque;
}
  
.navabar{
    display:flex;
    justify-content: space-between;
    padding-left: 20vh;
    padding-right: 20vh;
    background-color: #334195;
    font-size: large;
}

.navabar > a{
    color: beige;
    text-decoration: none;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 30px;
    padding-right: 30px;
}

.navabar > a:hover{
    color:#F7C548;
    background-color: black;
}

div {
    align-items: center;
    text-align: center;
}

input {
    height: 40px;
    width: 70vh;
}

