.html{
    font-family: sans-serif;
}

.body{
    background-color: #b6dec1;
}

.form{
    font-family: sans-serif;
}

.h1{
    font-family: sans-serif;
}

.h2{
    font-family: sans-serif;
}

.h3{
    font-family: sans-serif;
}

#loghead{
    font-family: sans-serif;
}

#regbut{
    font-family: sans-serif;
}

#logmsg{
    font-family: sans-serif;
}

a:visited a:hover {
    text-decoration: none;
}