

body{
    background-color: #b6dec1;
    font-family: monospace;
    text-align: center;
}

.button{
    background-color: #B8B3E9;
    border: 0px solid;
    flex: content;
    font-size: large;
    font-family: monospace;

}

.button:hover
{
  background-color: #55505C;
  color:bisque;
}

