
    <!DOCTYPE html>
    <html>
    <head>
    <title> adding to story </title>
    </head>

    <body>
        <h1>
         STOREETHYME adding to story
        </h1>
        Made by Blue Haired Gals w/ Pronouns (Ziying Jian, Talia Hsia, Jasmine Yuen)

        <div>
        <h2>
            WELCOME z
        </h2>
        </div>

    <div>
        <h2> ADD TO THIS STORY! </h2>
        <form action="/add" method="POST">
            <h3> Which story? </h3>
            <input type='text' name='sID'>
            <br>
            
            <h3> Make a caption: </h3>
            <input type='text' name='cap'>
            <br>
            <input type='submit' name='submitEntry' value='add'>
        </form>
    </div>

    </body>
    </html>
