
    <!DOCTYPE html>
    <html>
    <head>
    <title> add </title>
    <link rel="stylesheet" type = "text/css" href="../static/add.css">
    </head>

    <body class = "add">
        Made by Blue Haired Gals w/ Pronouns (Ziying Jian, Talia Hsia, Jasmine Yuen)

        <div>
        <h1 id = "welcome">
            WELCOME, talia!
        </h1>
        </div>
        <div class = "navabar">
            <a href="/">Profile</a>
            <a href="/add">Add to an existing story!</a>
            <a href="/new">Create a new story!</a>
        </div>
    
        <h2>Stories List</h2>
        <table class = "table">
            <tr>
                <th>ID</th>
                <th>TITLE</th>
                <th>GENRE</th>
            </tr>
    <tr><td>0</td><td>bob the builder</td><td>bob</td></tr></table>
    <div>
        <h2 id = "header"> ADD TO A STORY! </h2>
        <form action="/add" method="POST" class = "formAdd">
            <h3> Provide the story's unique story ID: </h3>
            <input type='text' name='storyid_query'>
            <br>
            <br>
            <h3> Input your awesome one-liner: </h3>
            <input type='text' name='caption_query'>
            <br>
            <br>
            <h3> Genre??? </h3>
            <input type='text' name='genre_query'>
            <br>
            <input type='submit' name='submitEntry' value='add' class = "button">
            <br>
            
        </form>
        <br>
        <form action="/viewRecent" method="POST" class= "formView">
            <h3> view this story's recent update </h3>
            <input type='text' name='storyid_query2'>
            <br>
            <input type='submit' name='view' value='view' class = "button">
            <br>
            
        </form>
    </div>

    </body>
    </html>
