
    <!DOCTYPE html>
    <html>
    <head>
    <title> PROFILE </title>
    <link rel="stylesheet" type = "text/css" href="../static/PROFILE.css">
    </head>

    <body>
        Made by Blue Haired Gals w/ Pronouns (Ziying Jian, Talia Hsia, Jasmine Yuen)

        <div>
        <h1>
            WELCOME, hello!
        </h1>
        </div>
        <div class = #navabar>
            <a href="/">Profile</a>
            <a href="/add">Add to an existing story!</a>
            <a href="/new">Create a new story!</a>
        </div>
    
<div>
    <h3>
    The stories you have already added to:
    </h3>
    
        <table>
            <tr>
                <th>ID</th>
                <th>TITLE</th>
                <th>ENTRY</th>
                <th>GENRE</th>
            </tr>
    </table>
    <form action='/logout' method = "POST">
        <button type="submit">Logout</button>
    </form>
</div>
