<!--
Blue Haired Gals With Pronouns: Jasmine Yuen, Talia Hsia, Ziying Jian
SoftDev
K19 - Flask app that uses session capabilites to allow user to login and logout
2022-11-03
time spent:
-->

<!DOCTYPE html>
<html>
  <head>
    <title> LOGIN PAGE </title>
  </head>

  <body>
    <h1>
      Welcome, Travelers of the Intertoobz!
    </h1>
    Made by Blue Haired Gals w/ Pronouns (Ziying Jian, Talia Hsia, Jasmine Yuen)
    
    <div>
      <h2>
        LOGIN HERE
      </h2>
      <h3>
        Username:
      </h3>
      <form action="/login" method = "POST">
        <input type="text" name="usernameLog">
      <br>
      <h3>
        Password:
      </h3>
        <input type="text" name="passwordLog">
      <br>
      <br>
        <input type="submit" name="sub1" value="Login">
      <br>
      <h2>
        Don't have an account???
      </h2>
      <br>
        <button type="button"><a href="/register">REGISTER</a></button>
      </form>
      <br>
      {{loginMSG}}
    </div>

  </body>

</html>
