
    <!DOCTYPE html>
    <html>
    <head>
    <title> new </title>
    <link rel="stylesheet" type = "text/css" href="../static/new.css">
    </head>

    <body class = "new">
        Made by Blue Haired Gals w/ Pronouns (Ziying Jian, Talia Hsia, Jasmine Yuen)

        <div>
        <h1 id = "welcome">
            WELCOME, talia!
        </h1>
        </div>
        <div class = #navabar>
            <a href="/">Profile</a>
            <a href="/add">Add to an existing story!</a>
            <a href="/new">Create a new story!</a>
        </div>
    
    <div>
        <h2> CREATE A NEW STORY! </h2>
        <form action="/new" method="POST" class = "form">
            <h3> Input your *dazzling* title: </h3>
            <input type='text' name='title_query'>
            <br>
            <h3> Enter your awesome one-liner to start off: </h3>
            <input type='paragraph' name='caption_query'>
            <br>
            <br>
            <h3> Genre?? </h3>
            <input type='text' name='genre_query'>
            <br>
            <input type='submit' name='submitEntry' value='new' class = "button">
            <br>
            
        </form>
    </div>

    </body>
    </html>
