
    <!DOCTYPE html>
    <html>
    <head>
    <title> creating new story </title>
    </head>

    <body>
        <h1>
         STOREETHYME creating new story
        </h1>
        Made by Blue Haired Gals w/ Pronouns (Ziying Jian, Talia Hsia, Jasmine Yuen)

        <div>
        <h2>
            WELCOME risson
        </h2>
        </div>
    
    <div>
        <h2> CREATE A NEW STORY! </h2>
        <form action="/new" method="POST">
            <h3> title </h3>
            <input type='text' name='title_query'>
            <br>
            <h3> make a caption: </h3>
            <input type='text' name='caption_query'>
            <br>
            <input type='submit' name='submitEntry' value='new'>
            <br>
            please fill in both queries
        </form>
    </div>

    </body>
    </html>
    