<!--
Blue Haired Gals With Pronouns: Jasmine Yuen, Talia Hsia, Ziying Jian
SoftDev
K19 - Flask app that uses session capabilites to allow user to login and logout
2022-11-03
time spent:
-->

<!DOCTYPE html>

<html>
    <h2> Hello, {{username}}! </h2>

    <h3> This {{functional}} </h3>
    Made by Blue Haired Gals w/ Pronouns (Ziying Jian, Talia Hsia, Jasmine Yuen)
    <br>
    <br>
    <form action='/logout' method = "POST">
        <button type="submit">Logout</button>
    </form>
    <button><a href="/add">ADD TO STORY</a></button>
    <button><a href="/new">NEW STORY</a></button>
</html>
